*{
  margin:0;
}

body{
  background-color:#f4f4f4;
  color:#595959;
  
  font: normal 14px Arial, Helvetica, sans-serif;
  
  Line-height:1.6em;
  margin-left:20;
}

.content{
  width:80%;
  margin:auto;
}

#contact{
  background-color:#dae6f1;
  color:#595959;
  font-family:Arial;
  font-weight:200;
  fontstyle:normal;
  letter-spacing:0.2em;
  border-bottom:solid;
  border-left:solid;
  border-width:1px;
  
  margin:10px;
  padding:20px;
}

#contact h1{
  color:#4d4d4d;
  font-family:Times New Roman;
  font-weight:600;
  font-style:normal;
  letter-spacing:0.2em;
  word-spacing:0.3em;
  padding:10px

}

#summary h2{
  font-family:Times New Roman;
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  letter-spacing:0.2em;
  word-spacing:0.3em;
  
  margin:10px;
  padding:20px;

}

#experiance h2{
  font-family:Times New Roman;
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  letter-spacing:0.2em;
  word-spacing:0.3em;
  
  margin:10px;
  padding:20px;
  
}

#LECI h3{
  font-family:Times New Roman;
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  letter-spacing:0.2em;
  word-spacing:0.3em;
  
  margin:10px;
  padding:20px;
  
}

#LECI h4{
  font-family:Arial;
  font-weight:300;
  font-style:normal;
  letter-spacing:0.2em;
  word-spacing:0.3em;
  margin:30px;
}

#LECI a{
  color:#336699;
  font-family:Arial;
  font-weight:300;
  font-style:normal;
  letter-spacing:0.2em;
  word-spacing:0.3em;
  margin:20px;
}

#RB h3{
  font-family:Times New Roman;
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  letter-spacing:0.2em;
  word-spacing:0.3em;
  
  margin:10px;
  padding:20px;
  
}

#RB h4{
  font-family:Arial;
  font-weight:300;
  font-style:normal;
  letter-spacing:0.2em;
  word-spacing:0.3em;
  margin:30px;
  
}

#DB01 h3{
  font-family:Times New Roman;
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  letter-spacing:0.2em;
  word-spacing:0.3em;
  
  margin:10px;
  padding:20px;

}

#DB01 h4{
  font-family:Arial;
  font-weight:300;
  font-style:normal;
  letter-spacing:0.2em;
  word-spacing:0.3em;
  margin:30px;
  
}

#DB02 h3{
  font-family:Times New Roman;
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  letter-spacing:0.2em;
  word-spacing:0.3em;
  
  margin:10px;
  padding:20px;

}

#DB02 h4{
  font-family:Arial;
  font-weight:300;
  font-style:normal;
  letter-spacing:0.2em;
  word-spacing:0.3em;
  margin:30px;
  
}


