*{
  margin:0;
}

body{
  background-color:#f4f4f4;
  color:#595959;
  
  font: normal 14px Arial, Helvetica, sans-serif;
  
  Line-height:1.6em;
  margin-left:20;
}

.content{
  width:80%;
  margin:auto;
}

#contact{
  background-color:#dae6f1;
  color:#595959;
  font-family:Arial;
  font-weight:400;
  fontstyle:normal;
  border-left:solid;
  border-width:5px;
  
  margin:10px;
  padding:20px;
}

#contact h1{
  font-family:Times New Roman;
  font-weight:600;
  font-style:normal;
  text-decoration:underline;
  letter-spacing:0.2em;
  word-spacing:0.3em;

}

#summary h2{
  font-family:Times New Roman;
  font-weight:400;
  font-style:normal;
  letter-spacing:0.2em;
  word-spacing:0.3em;
  
  margin:10px;
  padding:20px;

}

#experiance h2{
  font-family:Times New Roman;
  font-weight:400;
  font-style:normal;
  letter-spacing:0.2em;
  word-spacing:0.3em;
  
  margin:10px;
  padding:20px;

}

#Living Earth Creations h3{
  font-family:Times New Roman;
  font-weight:400;
  font-style:normal;
  letter-spacing:0.2em;
  word-spacing:0.3em;
  
  margin:10px;
  padding:20px;

}

#Rock Bottom h3{
  font-family:Times New Roman;
  font-weight:400;
  font-style:normal;
  letter-spacing:0.2em;
  word-spacing:0.3em;
  
  margin:10px;
  padding:20px;

}

#D. Brian's 01 h3{
  font-family:Times New Roman;
  font-weight:400;
  font-style:normal;
  letter-spacing:0.2em;
  word-spacing:0.3em;
  
  margin:10px;
  padding:20px;

}

#D. Brian's 02 h3{
  font-family:Times New Roman;
  font-weight:400;
  font-style:normal;
  letter-spacing:0.2em;
  word-spacing:0.3em;
  
  margin:10px;
  padding:20px;

}


