body{
  background-color:#f4f4f4;
  color:000;
  
  font: normal 14px Arial, Helvetica, sans-serif;
  
  Line-height:1.6em;
  margin:0;
}

.content{
  width:80%;
  margin:auto;
}

#contact{
  background-color:#4080bf;
  color:#fff;
  font:italic 16px verdana, Arial, san-serif;
  margin: 10px
  broder-left:10px #000 solid;
}


