*{
  margin:0;
}

body{
  background-color:#f4f4f4;
  color:#595959;
  font: normal 14px Arial, Helvetica, sans-serif;
  Line-height:2em;
  
}

.content{
  width:80%;
  margin:auto;
  border-left:solid;
  Border-width:3px;
}

#contact{
  background-color:#79a6d2;
  color:#fff;
  font-family:Times New Roman;
  font-weight:200;
  fontstyle:bold;
  letter-spacing:0.2em;
  border-top:solid;
  border-right:solid;
  border-width:2px;
  margin:0px;
  padding:20px;
}

#contact h1{
  color:#fff;
  font-family:Times New Roman;
  font-weight:400;
  font-style:normal;
  letter-spacing:0.2em;
  word-spacing:0.3em;
  padding-bottom:20px

}

#contact h3{
  color:#fff;
  font-weight:200;

}


#summary h2{
  color:#4d4d4d;
  font-family:Times New Roman;
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  letter-spacing:0.2em;
  word-spacing:0.3em;
  margin:10px;
  padding:10px;

}

#sumcontent{
  color:#808080;
  font-family:Arial;
  font-weight:200;
  font-style:normal;
  Line-height:2em;  
  margin-left:20px;
  
}

#experiance h2{
  color:#4d4d4d;
  font-family:Times New Roman;
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  letter-spacing:0.2em;
  word-spacing:0.3em;
  margin:10px;
  padding:10px;
  
}

#LECI h3{
  color:#336699;
  font-family:Times New Roman;
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  letter-spacing:0.2em;
  word-spacing:0.3em;
  margin:10px;
  padding:10px;
  
}

#LECI h4{
  font-family:Arial;
  font-weight:300;
  font-style:normal;
  letter-spacing:0.2em;
  word-spacing:0.3em;
  Line-height:2em;  
  margin-left:20px;
  
}

#LECI a{
  color:#336699;
  font-family:Arial;
  font-weight:300;
  font-style:normal;
  letter-spacing:0.2em;
  word-spacing:0.3em;
  margin:10px;
  padding:10px;
}

#block01{
  color:#808080;
  font-family:Arial;
  font-weight:200;
  font-style:normal;
  Line-height:2em;  
  margin-left:20px;
  
}

#RB h3{
  color:#336699;
  font-family:Times New Roman;
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  letter-spacing:0.2em;
  word-spacing:0.3em;
  margin:10px;
  padding:10px;
  
}

#RB h4{
  font-family:Arial;
  font-weight:300;
  font-style:normal;
  letter-spacing:0.2em;
  word-spacing:0.3em;
  Line-height:2em;
  margin-left:20px;
  
}

#block02{
  color:#808080;
  font-family:Arial;
  font-weight:200;
  font-style:normal;
  Line-height:2em;  
  margin-left:20px;
  
}

#DB01 h3{
  color:#336699;
  font-family:Times New Roman;
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  letter-spacing:0.2em;
  word-spacing:0.3em;
  margin:10px;
  padding:10px;

}

#DB01 h4{
  font-family:Arial;
  font-weight:300;
  font-style:normal;
  letter-spacing:0.2em;
  word-spacing:0.3em;
  Line-height:2em;
  margin-left:20px;
  
}

#block03{
  color:#808080;
  font-family:Arial;
  font-weight:200;
  font-style:normal;
  Line-height:2em;  
  margin-left:20px;
  
}

#DB02 h3{
  color:#336699;
  font-family:Times New Roman;
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  letter-spacing:0.2em;
  word-spacing:0.3em;
  margin:10px;
  padding:10px;

}

#DB02 h4{
  font-family:Arial;
  font-weight:300;
  font-style:normal;
  letter-spacing:0.2em;
  word-spacing:0.3em;
  Line-height:2em;
  margin-left:20px;
  
}

#block04{
  color:#808080;
  font-family:Arial;
  font-weight:200;
  font-style:normal;
  Line-height:2em;  
  margin-bottom:30px;
  margin-left:20px;
  
}

#foot{
background-color:#79a6d2;
  color:#fff;
  font-family:Times New Roman;
  font-weight:200;
  fontstyle:bold;
  letter-spacing:0.2em;
  border-bottom:solid;
  border-right:solid;
  border-width:2px;
  margin:auto;
  text-align:center;
  padding:20px;
  
}

#foot h4{
  color:#fff;
  font-family:Times New Roman;
  font-weight:200;
  fontstyle:bold;
  letter-spacing:0.2em;
  word-spacing:0.3em;

}
