*{
  margin:0;
}

body{
  background-color:#f4f4f4;
  color:000;
  
  font: normal 14px Arial, Helvetica, sans-serif;
  
  Line-height:1.6em;
  margin:0;
}

.content{
  width:80%;
  margin:auto;
  border:3px #000 solid;
}

#contact{
  background-color:#ffd699;
  color:#000;
  font:normal 14px verdana, Arial, san-serif;
  margin: 10px
  padding: 20px;
}

#contact h1{
  font-family:AriaL;
  font-weight:800;
  font-style:bold;
  text-decoration:underline;
  letter-spacing:0.2em;
  word-spacing:0.3em;

}


